/* Poppins onter = font-family: 'Poppins', sans-serif; */
/* Poppins styles = font-weight 300 (vanlig text), 200(cursive text), 700(bold text) */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-sherif;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #737373;
}


/* ---------- Header--------- */

#header-home {
  width: 100%;
  height: 100vh;
}

#header-about {
  width: 100%;
  height: 100vh;
}

#header-portfolio {
  width: 100%;
  height: 100vh;
}

.about-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(80%);
}

.test-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(80%);
}

.portfolio-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(65%);
}

.container {
  padding: 10px 10%;
}


.about-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.header-text h1 span {
  color: #EABEDB;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 250px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.booking-nav ul li a {
  color: #737373;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #EABEDB;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}


.header-text {
  margin-top: 20%;
  font-size: 30px;
  flex-basis: 60%;
  font-weight: 200;
  color: #ffffff;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 10px;
  font-weight: 200;
  
}

.header-text h2 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 200;
}

.header-text h4 {
  font-size: 17px;
  font-weight: 200;
  color: #ffffff;
  padding-bottom: 5px;
}

.header-text h4 span {
  font-weight: 500;
  color: #EABEDB;
  padding-left: 10px;
  padding-right: 30px;
}

.header-text h4 span {
  font-weight: 500;
  color: #EABEDB;
  padding-left: 5px;
  padding-right: 30px;
}

.info-text {
  display: flex;
  padding-bottom: 20px;
}

.info-col-1 {
  display: flex;
}

.info-col-2 {
  display: flex;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-top: 5px;
  padding: 30px;
}

.photo-container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photo-container .box .photo-col {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}


.photo-container .box .photo-col img {
  width: 100%;
  padding-top: 10px;
  border-radius: 15px;
}


.photo-container .box .photo-col video {
  width: 100%;
  padding-top: 10px;
  border-radius: 15px;
}

#sidemenu {
  font-weight: 300;
}

.photo-col figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

.photo-col figure:hover video {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

/* ----------Review-------- */

.line-breaker {
  background-color: #ffffff;
  text-align: center;
}

.line-breaker img {
  width: 30%;
}

.review-col {
  padding: 0 20px 0 20px;
  text-align: center;
}

.review-container .box .review-col {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.review-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
}

.review-container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.review-col h3{
  font-weight: 300;
  font-size: 25px;
}

.review-col h4{
  color: #EABEDB;
  padding-bottom: 20px;
}

.review-col p {
  color: #030303;
  font-weight: 200;
}

/*---------ABOUT----------*/

#about {
  color: #737373;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row-about {
  display: flex;
}


.about-col-1 img {
  width: 100%;
  padding-top: 10%;
  border-radius: 15px;
  max-width: 454px;
}

.about-col-2 {
  flex-basis: 55%;
  max-width: 700px;
  margin-left: 5%;
}

.about-col-2 h1 span {
  color: #EABEDB;
}

.about-title {
  font-size: 60px;
  font-weight: 300;
}

.about-title-br {
  display: none;
}

/* ---------PORTFOLIO--------- */
#portfolio {
  padding: 50px 0;
}

.overlay {
  position: absolute; 
  background: rgba(57, 57, 57, 0.5);

  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay_1 {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgb(255, 255, 255, 0.6), #EABEDB);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.2s;
}

.layer h3 {
  font-weight: 300;
  margin-bottom: 20px;
  color: #ffffff;
}

.layer p {
  font-weight: 200;
  margin-bottom: 13px;
  color: #ffffff;
}

.layer a {
  margin-top: 20px;
  color: #EABEDB;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.button {
  background-color: #EABEDB;
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: none;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
}

.button a {
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-sherif;
}

.button:hover {
  background-color: #ffffff;
  color: #EABEDB;
  border: 5px #EABEDB;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.homebutton:hover a{
  color: #EABEDB;
}

:root {
  --hue: 206;
  --bkg: var(--hue) 50% 96%;
  --text: var(--hue) 70% 9%;
  --dark: var(--hue) 70% 3%;
}


.image-item {
  cursor: zoom-in;
  padding: 0;
  border: none;
  background: none;
}

.port-container {
  position: relative;
  width: 100%;
}


.port-container:hover .text-port {
  opacity: 1;
}


.image-item img {
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
  filter: brightness(60%);
}

.image-item:is(:hover, :focus) img {
  transform: scale(1.03);
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
  filter: brightness(100%);
}

/* Slideshow container */
.slideshow-bc {
  background-color: #ffffff;
  padding-top: 20px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
  cursor: pointer;
}

.container-iframes {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}

.container-iframes-shorts {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 135%; 
}

.responsive-iframes{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(234, 190, 219, 0.93)
}

/* Caption text */
.text {
  color: #f1f1f1;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  text-align: center;
  width: 50%;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 2.5%;
  left: 25%;
  text-align: center;
}

.text-port {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 50%;
  left: 25%;
  bottom: 88%;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 28%;
  left: 72%;
}

.numbertext span{
  color: #EABEDB;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #EABEDB;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slideshow-bc h3 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.slide-col {
  padding: 0 20px 0 20px;
}

.slide-container .box .slide-col {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.slide-container .box .slide-col .slideshow-bc {
  width: 100%;
  padding-top: 10px;
  border-radius: 15px;
}

.slide-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  
}

.slide-container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* -------------INSTA FEED-------------- */
a img{ 
  width: 25%;
}

/* -------------CONTACT/FOOTER-------------- */
.formtext {
  min-width: 35%;
  margin-left: 7.5%;
  margin-top: 4%;
}

.footer-content {
  background-color: #ffffff;
  color: #030303;
  padding: 20px;
  text-align: center;
  
}

.footer-content img {
  width: 30%;
}

.contact{
  display: flex;
}

.contactinfotitle {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
  color: #030303;
  font-family: 'Poppins', sans-sherif;
  font-weight: 200;
}

.contactinfotext {
  padding: 20px;
  font-size: 18px;
  color: #030303;
  text-align: center;
}

.contactinfobox {
  margin: 5% 7.5% 15% 7.5%;
  background-color: rgba(255, 192, 203, 0.449);
  opacity: 80%;
  border-radius: 2%;
  font-weight: 300;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.3s;
}

.facebook {
  color: #4267B2;
}

.tiktok {
  color: #111111;

  filter: drop-shadow(1px 0px 0px #FD3E3E) drop-shadow(-1px -1px 0px #4DE8F4);
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icons a:hover {
  color: #030303;
  transform: translateY(-5px);
}

.instagram :hover {
  background: radial-gradient(circle at 30% 107%, #030303 0%, #030303 5%, #030303 45%, #030303 60%, #030303 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.contact form {
  width: 40%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #d9d9d9;
  padding: 15px;
  margin: 15px 0;
  color: #030303;
  font-size: 18px;
  border-radius: 6px;
}

form button2 {
  font-size: 1;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 10px;
}



.copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #d9d9d9;
  font-weight: 200;
  font-size: 14px;
}

#copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #d9d9d9;
  font-weight: 200;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.copyright i {
  color: #737373;
}

.footer-title {
  font-weight: 300;
  font-size: 40px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-sherif;
}

.footer-title-booking {
  font-weight: 300;
  font-size: 50px;
  padding-bottom: 20px;
  font-family: Sue Ellen Francisco;
}

.mail-to {
  color: #EABEDB;
}

.mail-to a{
  color: #737373;
  text-decoration: none;
}

.thankyoutext {
  padding: 20px;
  font-size: 2vw;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
}

.break-line-small {
  display: none;
}


.homebutton{
  background-color: #EABEDB;
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: none;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
}

.homebutton a {
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-sherif;
}

.homebutton:hover {
  background-color: #ffffff;
  color: #EABEDB;
  border: 5px #EABEDB;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.homebutton:hover a{
  color: #EABEDB;
}

.thanks-container {
  background-color: #ffffff;
  padding: 20px;
}

.thanks-header h1{
  color: #ffffff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* ----------RESPONSIVE------------ */
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  
  #header-about {
    width: 100%;
    height: 100vh;
    background-image: url("Images/Screenshot\ 2023-04-20\ at\ 10.33.21.png");
    background-size: cover;
    background-position: center;
    }

  #header-portfolio {
    width: 100%;
    height: 100vh;
    background-image: url("Images/Hailey-portfolio-img.jpeg");
    background-size: cover;
    background-position: center;
  }

  .about-video {
    display: none;
  }

  .portfolio-video {
    display: none;
  }

  .header-text {
    margin-top: 95%;
    font-size: 16px;
  }

  .about-title-br {
    display: block;
  }

  .contact {
    flex-direction: column-reverse;
    padding: 50px;
  }

  .break-line-small {
    display: block;
  }

  .contactinfobox {
    margin: 0;
    margin-bottom: 5%;
    margin-left: 0;
    opacity: 80%;
    border-radius: 2%;
    border-color: grey;
    border-width: thick;
    padding-bottom: 5%
  }

  .contactinfotext {
    padding: 5%;
    font-size: 15px;
    color: #030303;
  }

  .formtext {
    min-width: 100%;
    margin-left: 0;
    
  }

  .logo {
    width: 200px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .header-text h2 {
    font-size: 20px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
    color: #030303;
  }

  nav ul {
    background: hsl(0 0% 0% / 0.6);
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.3s;
    
  }

  .booking-nav ul li a {
    color: #ffffff;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .test-video {
    width: 100%;
    height: 100%;
  }

  .photo-container .box {
    flex-direction: column;
  }

  .photo-container .box .photo-col {
    width: 100%;
  }

  .photo-container .box .photo-col-port {
    width: 100%;
  }

  .slide-container .box {
    flex-direction: column;
  }

  .slide-container .box .slide-col {
    width: 100%;
  }

  .about-title {
    font-size: 27px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
    padding-left: 0;
  }

  .about-col-1 img {
    padding-top: 0%;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .row {
    flex-basis: 100%;
    display: block;
  }

  .row-about {
    flex-basis: 100%;
    display: block;
  }


  .review-container .box .review-col {
    width: 100%;
  }

  .review-container .box {
    flex-direction: column;
  }

  .review-col {
    padding-bottom: 40px;
  }

  .footer-content img {
    width: 70%;
  }

  .info-text {
    align-items: left;
  }

  .info-col-1 {
    display: block;
  }

  .info-col-2 {
    display: block;
  }

  #header-home {
    position: relative;
  }

  #header-home .info-text {
    position: absolute;
    bottom: 0;
  }

  .footer-title {
    font-size: 30px;
  }

  .line-breaker img {
    width: 65%;
  }

  .header-thank-pic {
    height: 100%;
    width: 200%;

  }

  .text {
    font-size: 10px;
  }

  .text-port {
    font-size: 17px;
  }

}
@media screen and (max-width: 920px) and (min-width: 601px) and (orientation: landscape) {
  .logo {
    width: 200px;
  }

  .row-about {
    flex-basis: 100%;
    display: block;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
    padding-left: 0;
  }

  .about-col-1 img {
    padding-top: 0%;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .header-text h1 {
    font-size: 20px;
  }

  .header-text h2 {
    font-size: 12px;
  }

  nav .fa-solid {
    display: block;
    font-size: 26px;
  }

  nav ul {
    background: hsl(0 0% 0% / 0.6);
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 20px;
    z-index: 2;
    transition: right 0.3s;
    
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  .booking-nav ul li a {
    color: #ffffff;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  .header-text {
    margin-top:20%;
    font-size: 30px;
    flex-basis: 60%;
    font-weight: 200;
    color: #ffffff;
  }

  .info-text h4 {
    font-size: 1.3vw;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 920px) and (min-width: 601px) and (orientation: portrait) {
  .logo {
    width: 200px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
    padding-left: 0;
  }

  .about-col-1 img {
    padding-top: 0%;
    max-width: 700px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .container {
    padding: 5px 5%;
  }

  .header-text h1 {
    font-size: 40px;
  }

  .header-text h2 {
    font-size: 20px;
  }

  .row-about {
    flex-basis: 100%;
    display: block;
  }

  nav .fa-solid {
    display: block;
    font-size: 26px;
  }

  nav ul {
    background: hsl(0 0% 0% / 0.6);
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 20px;
    z-index: 2;
    transition: right 0.3s;
    
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  .booking-nav ul li a {
    color: #ffffff;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  .header-text {
    margin-top:70%;
    font-size: 30px;
    flex-basis: 60%;
    font-weight: 200;
    color: #ffffff;
  }

  .info-text h4 {
    font-size: 1.7vw;
    padding-bottom: 20px;
    padding-top: 30px;
  }
}


@media only screen and (max-width: 600px) and (min-width: 300px) {
  .header-text {
    margin-top:40%;
  }
}